<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.0 Transitional//EN'>
<html>
  <head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <title></title>
    <style type='text/css'>
      @media print {
.pagebreak {
page-break-before: always !important;
}
}

      
      table {
                      width: 100%;
                  }
                  table {
                      border-collapse: collapse;
                  }
                  td {
                      padding-left: 0.3em;
                      padding-right: 0.3em;
                  }
                  .magic-div {
                      height: 50px;
                      width: 25px;
                      position: relative;
                  }
                  .magic-span {
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%) rotate(-90deg);
                      transform-origin: center center;
                      display: block;
                      width: 0;
                      text-anchor: end;
                      text-align: center;
                      margin-top: 27px;
                      margin-bottom: 5px;
                  }
                  .t_no_break {
                      white-space: nowrap !important;
                  }
    </style>
  </head>
  <body>
    <table style="width:100%;">
      <tr>
        <td style="width:35%">
          <b>
          ART Patient Card Adult ARV Formulations
          </b>
          <br/>
          <div style="background-color:yellow;padding:.5em;width:15vw;font-weight:bold;">
          Yellow Card
          </div>
        </td>
        <td width="8%">Version 9</td>
        <td width="8%">Transfer-<br/>In Date</td>
        <td style="border: 2px solid black;width:15%;">
          <%= @data["transfer_in_date"] %>
        </td>
        <td width="6%">ART Reg no</td>
        <td style="border: 2px solid black;width:15%;">
           <%= @data["art_number"] %>
        </td>
        <td width="7%">Child HCC no</td>
        <td style="border: 2px solid black;width:16%;"></td>
      </tr>
    </table>
    <table cellspacing='0' border='0'>
      <tr>
        <td  align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
      </tr>
      <tr>
        <td  align='left' valign=top><b>
            <font face='Times New Roman'    color='#000000'><br>
            </font>
          </b></td>
        <td align='left' valign=top><b>
            <font face='Times New Roman'    color='#000000'><br>
            </font>
          </b></td>
        <td colspan='12' style='border-bottom: 2px solid #000000; ' align='left' valign=top><b>
            <font face='Times New Roman'    color='#000000'>Patient / Guardian Details</font>
          </b></td>
        <td align='left' valign=top><b>
            <font face='Times New Roman'    color='#000000'><br>
            </font>
          </b></td>
        <td colspan='10' style='border-bottom: 2px solid #000000; '  align='left' valign=top><b>
            <font face='Times New Roman'    color='#000000'>Status at ART Initiation</font>
          </b></td>
        <td   align='left' valign=top><b>
            <font face='Times New Roman'    color='#000000'><br>
            </font>
          </b></td>
        <td colspan='8' style='border-bottom: 2px solid #000000' align='left' valign=top><b>
            <font face='Times New Roman'    color='#000000'>Treatment history</font>
          </b></td>
      </tr>
      <tr>
        <td  align='left' valign=top>
          <font face='Times New Roman' color='#000000'>Patient Name</font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000'
				colspan=12 rowspan=2 valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
          <%= @data["patient_name"] %>
        </td>
        <td class='t_no_break' align='left' valign=top>
          <font face='Times New Roman' color='#000000'>HIV-related diseases</font>
        </td>
        <td style='
         max-width: 100px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;

        border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000'
				colspan=10 rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
          <%= @data["hiv_related_diseases"] %>
        </td>
        <td class='t_no_break' align='left' valign=top>
          <font face='Times New Roman' color='#000000'>Other ARVs</font>
        </td>
        <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000' colspan=3 rowspan=2 align='center'
				valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
          <%= @data[:arvs_given].third[:arv] rescue '' %>
        </td>
        <td class='t_no_break' style='border-top: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				rowspan=2 valign=  >
          <font face='Times New Roman' color='#000000'>Start date</font>
        </td>
        <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
				colspan=4 rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
          <%= @data[:arvs_given].third[:date].to_date.strftime('%d-%m-%Y') rescue '' rescue '' %>
        </td>
      </tr>
      <tr>
        <td  align='left' valign=top>
          <font face='Times New Roman' color='#000000'></font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'></font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'></font>
        </td>
      </tr>
      <tr>
        <td  align='left' valign=top>
          <font face='Times New Roman' color='#000000'>Sex,</font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000'
			colspan=2 rowspan=2 align='center' valign=  >
          <font face='Times New Roman' color='#000000'></font>
          <%= @data["sex"] %>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000'
				rowspan=2 align='center' valign=  >
          <font face='Times New Roman' color='#000000'></font>
        </td>
        <td colspan=3 style='border-top: 1px solid #000000; border-left: 1px solid #000000' align='left' valign=top>
          <font face='Times New Roman' color='#000000'>Birth Date</span></font>
      </td>
      <td colspan=1 style='border-top: 1px solid #000000; border-bottom: 1px solid #000000' rowspan=2
				align='center' valign=top>
        <font face='Times New Roman' color='#000000'><br>
        </font>
      </td>
      <td class='t_no_break' style='border-top: 1px solid #000000' align='left' valign=top>
        <font face='Times New Roman' color='#000000'>Age at ART initiation</font>
      </td>
      <td style='border-top: 1px solid #000000' align='left' valign=top>
        <font face='Times New Roman' color='#000000'><br>
        </font>
      </td>
      <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 2px solid #000000'
				colspan=3 rowspan=2 align='center' valign=top>
        <font face='Times New Roman' color='#000000'><br>
        </font>
      </td>
      <td class='t_no_break'  align='left' valign=top>
        <font face='Times New Roman' color='#000000'><br>
        </font>
        WHO Stage
      </td>
      <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000'
				colspan=10 rowspan=2 align='center' valign=top>
        <font face='Times New Roman' color='#000000'><br>
        </font>
        <%= @data["who_stage"].gsub('WHO stage', '') rescue '' %>
      </td>
      <td rowspan=2 align='left' valign=  >
        <font face='Times New Roman' color='#000000'>ART reg 1</font>
      </td>
      <td style='border-left: 2px solid #000000; border-bottom: 1px solid #000000;' colspan=3 rowspan=2 align='center' valign=top>
        <font face='Times New Roman' color='#000000'><br>
        </font>
        <%= @data[:arvs_given].first[:arv] rescue '' %>
      </td>
      <td class='t_no_break' style='border-left: 1px solid #000000; border-right: 1px solid #000000' rowspan=2 
				valign=  >
        <font face='Times New Roman' color='#000000'>Start date</font>
      </td>
      <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
				colspan=4 rowspan=2 align='center' valign=top>
        <font face='Times New Roman' color='#000000'><br>
        </font>
        <%= @data[:arvs_given].first[:date].to_date.strftime('%d-%m-%Y') rescue '' rescue '' %>
      </td>
    </tr>
    <tr>
      <td  align='left' valign=top>
        <!-- <font face='Times New Roman' color='#000000'>Birthdate</font> -->
      </td>
      <td align='left' valign=top>
        <font face='Times New Roman' color='#000000'><br>
        </font>
      </td>
      <td colspan=3 style='border-bottom: 1px solid #000000; border-left: 1px solid #000000' align='left' valign=top>
        <font face='Times New Roman' color='#000000'></font>
        <span style="margin-left:5px;"><%= @data["birth_date"].to_date.strftime("%d-%m-%Y") rescue '' %>
        </td>
        <td style='border-bottom: 1px solid #000000' align='left' valign=top>
          <font face='Times New Roman' color='#000000'></font>
          <%= @data["age"] %>
        </td>
        <td style='border-bottom: 1px solid #000000' align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td  align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
      </tr>
      <tr>
        <td  align='left' valign=top>
          <font face='Times New Roman' color='#000000'>Physical</font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='
                        max-width: 100px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
                        colspan='12'
                        rowspan='2 '
                        valign='top '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
          <%= @data["physical_address"] %>
        </td>
        <td class='t_no_break'  rowspan=2 align='left'
				valign=  >
          <font face='Times New Roman' color='#000000'></font>
        </td>
        <td style='border-left: 2px solid #000000' colspan=3 rowspan=2 align='center' valign=  ><b>
            <font face='Times New Roman' color='#000000'></font>
          </b></td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan=2 rowspan=2 align='right' valign=  >
          <font face='Times New Roman' color='#000000'>KS</font>
        </td>
        <td style='border-bottom: 1px solid #000000; border-right: 2px solid #000000; ' colspan=5 rowspan=2 align='center' valign=  >
          <font face='Times New Roman' color='#000000'></font>
          <%= @data["ks"] %>
        </td>
        <td rowspan=2 align='left' valign=  >
          <font face='Times New Roman' color='#000000'>ART reg 2</font>
        </td>
        <td style='border-left: 2px solid #000000; border-bottom: 1px solid #000000;' colspan=3 rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
          <%= @data[:arvs_given].second[:arv] rescue '' %>
        </td>
        <td class='t_no_break' style='border-left: 1px solid #000000; border-right: 1px solid #000000' rowspan=2
				valign=  >
          <font face='Times New Roman' color='#000000'>Start date</font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
				colspan=4 rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
          <%= @data[:arvs_given].second[:date].to_date.strftime('%d-%m-%Y') rescue '' rescue '' %>
        </td>
      </tr>
      <tr>
        <td  align='left' valign=top>
          <font face='Times New Roman' color='#000000'>Address</font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
      </tr>
      <tr>
        <td  align='left' valign=top>
          <font face='Times New Roman' color='#000000'>Guardian </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000'
				colspan=12 rowspan=2 =valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
          <%= @data["guardian_name"] %>
        </td>
        <td  align='left' valign=  >
          <font face='Times New Roman' color='#000000'>TB status at</font>
        </td>
        <td rowspan='2' colspan='3' style='border-top: 1px solid black; border-left: 2px solid #000000' align='center' valign=top>
          <font face='Times New Roman' color='#000000'></font>
          <%= @data["tb_status"] %>
        </td>
        <td rowspan='2' style='border-left: 1px solid #000000; border-right: 1px solid #000000' colspan=2 align='right'
				valign=  >
          <font face='Times New Roman' color='#000000'>Preg/Breastf</font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; 
					border-right: 2px solid #000000; border-left: 1px solid #000000'
				colspan=5 rowspan=2 align='center' valign=  >
          <font face='Times New Roman' color='#000000'></font>
          <%= @data["preg_or_breastfeeding"] %>
        </td>
        <td rowspan=2 align='left' valign=  >
          <font face='Times New Roman' color='#000000'>TB reg.</font>
        </td>
        <td style='border-bottom: 2px solid #000000; border-left: 2px solid #000000' colspan=3 rowspan=2
				align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td class='t_no_break' style='border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				rowspan=2  >
          <font face='Times New Roman' color='#000000'>Start date</font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
				colspan=4 rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
      </tr>
      <tr>
        <td  align='left' valign=top>
          <font face='Times New Roman' color='#000000'> Name</font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td  align='left' valign=  >
          <font face='Times New Roman' color='#000000'>ART initiat.</font>
        </td>
      </tr>
      <tr>
        <td rowspan='2'  align='left' valign=  >
          <font face='Times New Roman' color='#000000'>Phone</font>
        </td>
        <td   align='left' valign=  >
          <font face='Times New Roman' color='#000000'></font>
        </td>
        <td colspan='6' style='border-top: 1px solid #000000; border-left: 2px solid #000000' align='left' valign=top>
          <font face='Times New Roman' color='#000000'>Patient</font>
        </td>
        <td  colspan='6' style='border-top: 1px solid #000000;  border-right: 2px solid;  border-left: 1px solid' align='left' valign=top>
          <font face='Times New Roman' color='#000000'>Guardian</font>
        </td>
        <td rowspan=2 align='left' valign=  >
          <font face='Times New Roman' color='#000000'>Height</font>
        </td>
        <td style='border-top: 1px solid black;border-bottom: 2px solid #000000; border-left: 2px solid #000000' colspan=3 rowspan=2
				align='right' valign=  ><%= @data["height"] %>
          <font face='Times New Roman' color='#000000'>cm</font>
        </td>
        <td style='border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
			colspan=2 rowspan=2 align='right' valign=  >
          <font face='Times New Roman' color='#000000'>Weight</font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
		colspan=5 rowspan=2 align='center' valign=  >
          <%= @data["weight"] %>
          <font face='Times New Roman' color='#000000'>Kg</font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=  >
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
      </tr>
      <tr>
        <td  align='left' valign=top>
          <font face='Times New Roman' color='#000000'></font>
        </td>
        <td colspan='6'  style='border-bottom: 1px solid #000000; border-left: 2px solid #000000;  
			border-right: 1px solid'   align='left' valign=top>
          <font face='Times New Roman' color='#000000'></font>
          <%= @data["patient_phone"] %>
        </td>
        <td colspan='6'   style='border-bottom: 1px solid #000000;   
			border-right: 2px solid' align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
          <%= @data["guardian_phone"] %>
        </td>
        <td colspan='9' align='center' valign=top><b>
            <font face='Times New Roman'    color='#000000'>
            </font>
          </b>
        </td>
      </tr>
      <tr>
        <td  align='left' valign=top>
          <font face='Times New Roman' color='#000000'>Agrees to FUP</font>
        </td>
        <td align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-bottom: 2px solid #000000; border-left: 2px solid #000000' colspan=2 
				align='center' valign=  >
          <font face='Times New Roman' color='#000000'></font>
        </td>
        <td style='border-bottom: 2px solid #000000'  align='left' valign=  >
          <font face='Times New Roman' color='#000000'></font>
          <%= @data["agrees_to_fup"] %>
        </td>
        <td style='border-left: 1px solid #000000; border-bottom: 2px solid #000000;' align='left' valign=top>
          <font face='Times New Roman' color='#000000'>Guardian Relation</font>
        </td>
        <td style=' border-bottom: 2px solid #000000; border-right: 2px solid #000000;' colspan='8' align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
          <%= @data["guardian_relation"] %>
        </td>
        <td  align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td rowspan=2 align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=  >
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='right' valign=  >
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=  >
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=  >
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=  >
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
      </tr>
      <tr>
        <td  align='left' valign=top>
          <font face='Times New Roman' color='#000000'></font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'></font>
        </td>
        <td  valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td  valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td  valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td  valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td  valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td  valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td  valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td  align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td  align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td  align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td  align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td colspan='10' align='left' valign=  ><b>
            <font face='Times New Roman'  color='#000000'>Baseline lab results (ART initiation)</font>
          </b></td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td colspan='8' align='left' valign=top>
          <font face='Times New Roman' color='#000000'><b>Follow-up testing (CD4, BP, glucose, depression)</b></font>
        </td>
      </tr>
      <tr>
        <td     '17' align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=  >
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=  >
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=  >
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td  align='left' valign=  >
          <font face='Times New Roman' color='#000000'></font>
        </td>
        <td align='left' valign=  >
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=  >
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=  >
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-bottom: 2px solid #000000' colspan=2 align='center' valign=bottom>
          <font face='Times New Roman' color='#000000'>Date</font>
        </td>
        <td align='center' valign=bottom>
          <font face='Times New Roman' color='#000000'>CD4</font>
        </td>
        <td align='center' valign=bottom>
          <font face='Times New Roman' color='#000000'>BP</font>
        </td>
        <td colspan=2 align='center' valign=bottom>
          <font face='Times New Roman' color='#000000'>RBS/FBS</font>
        </td>
        <td colspan=2 class='t_no_break' align='center' valign=bottom>
          <font face='Times New Roman' color='#000000'>PHQ score</font>
        </td>
      </tr>
      <tr>
        <td colspan='12' align='center' valign=  ><b>
            <font face='Times New Roman' color='#000000'>Confirmatory HIV Test</font>
          </b></td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'>CD4<br>
          </font>
        </td>
        <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
				colspan=3  align='center' valign=  >
          <font face='Times New Roman' color='#000000'><br>
          </font>
          <%= @data["cd4"] %>
        </td>
        <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='right' valign=  >
          <font face='Times New Roman' color='#000000'>Date</font>
        </td>
        <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
				colspan=6  align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
          <%= @data["cd4_date"].to_date.strftime('%d-%m-%Y') rescue '' %>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td colspan='2' style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
				  align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
				colspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
			colspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
      </tr>
      <tr>
        <td colspan=2 rowspan=2     '48' align='left' valign=  >
          <font face='Times New Roman' color='#000000'>Facility</font>
        </td>
        <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
				colspan=5 rowspan=2 align='center' valign=  >
          <font face='Times New Roman' color='#000000'><br>
          </font>
          <%= @data["facility"] %>
        </td>
        <td style='border-top: 2px solid #000000; border-left: 1px solid #000000' align='left' valign=top>
          <font face='Times New Roman' color='#000000'>Link</font>
        </td>
        <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-right: 2px solid #000000'
				colspan=6 rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
          <%= @data["link_id"] %>
        </td>
        <td align='left' valign=  >
          <font face='Times New Roman' color='#000000'>TB Xpert</font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
				colspan=3 rowspan=2 align='center' valign=  >
          <font face='Times New Roman' color='#000000'><br>
          </font>
          <%= @data["tb_xpert"] %>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				rowspan=2 align='right' valign=  >
          <font face='Times New Roman' color='#000000'>Date</font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
				colspan=6 rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
          <%= @data["tb_xpert_date"].to_date.strftime('%d-%m-%Y') rescue '' %>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
				colspan=2 rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan=2 rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
				colspan=2 rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
      </tr>
      <tr>
        <td style='border-bottom: 1px solid #000000; border-left: 1px solid #000000' align='left' valign=top>
          <font face='Times New Roman' color='#000000'>ID</font>
        </td>
        <td align='left' valign=  >
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
      </tr>
      <tr>
        <td colspan=2 rowspan=2     '48' align='left' valign=  >
          <font face='Times New Roman' color='#000000'>Test date</font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
				colspan=5 rowspan=2 align='center' valign=  >
          <font face='Times New Roman' color='#000000'><br>
          </font>
          <%= @data["confimatory_test_date"].to_date.strftime('%d-%m-%Y') rescue '' %>
        </td>
        <td colspan="7" style='border-top: 1px solid #000000; border-right: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000' colspan=4 rowspan=2 align='center'
				valign=  >
          <%= @data["confimatory_test_type"] %>
          <font face='Times New Roman' color='#000000'></font>
        </td>
        <td align='left' valign=  >
          <font face='Times New Roman' color='#000000'>Urine LAM</font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
				colspan=3 rowspan=2 align='center' valign=  >
          <font face='Times New Roman' color='#000000'><br>
          </font>
          <%= @data["urine_lam"] %>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				rowspan=2 align='right' valign=  >
          <font face='Times New Roman' color='#000000'>Date</font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
				colspan=6 rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
          <%= @data["urine_lam_date"].to_date.strftime('%d-%m-%Y') rescue '' %>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
				colspan=2 rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan=2 rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
				colspan=2 rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
      </tr>
      <tr>
        <td align='left' valign=  >
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
      </tr>
      <tr>
        <td class='t_no_break' align='left' valign=top>
          <font face='Times New Roman' color='#000000'>ART educ done</font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-bottom: 2px solid #000000; border-left: 2px solid #000000' colspan=2 rowspan=2
				align='center' valign=  >
          <font face='Times New Roman' color='#000000'></font>
        </td>
        <td style='border-bottom: 2px solid #000000' rowspan=2 align='center' valign=  >
          <font face='Times New Roman' color='#000000'></font>
        </td>
        <td style='border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
				colspan=9 rowspan=2 align='left' valign=  >
          <font face='Times New Roman' color='#000000'>Date</font>
        </td>
        <td align='left' valign=  >
          <font face='Times New Roman' color='#000000'>CrAg</font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
				colspan=3 rowspan=2 align='center' valign=  >
          <font face='Times New Roman' color='#000000'><br>
          </font>
          <%= @data["crag"] %>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				rowspan=2 align='right' valign=  >
          <font face='Times New Roman' color='#000000'>Date</font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
				colspan=6 rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
          <%= @data["crag_date"].to_date.strftime('%d-%m-%Y') rescue '' %>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
				colspan=2 rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan=2 rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
				colspan=2 rowspan=2 align='center' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
      </tr>
      <tr>
        <td  align='left' valign=top>
          <font face='Times New Roman' color='#000000'></font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=  >
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=top>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
      </tr>
      <tr style='height:2em'></tr>
      <tr>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan=4     '23' align='center' valign=top>
          <font face='Liberation Sans Narrow' size=3>Visit Date</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='center' valign=top>
          <font face='Liberation Sans Narrow' size=3>Weight</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan=2 align='center' valign=top>
          <font face='Liberation Sans Narrow' size=3>Pregnant/</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan=4 rowspan=2 align='left' valign=top>
          <font face='Liberation Sans Narrow'>TB Status (Current)*</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan=2 rowspan=2 align='left' valign=top>
          <font face='Liberation Sans Narrow'>Side Effects</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				rowspan=4 align='center' valign=top>
          <font face='Liberation Sans Narrow'>Pill Count</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				rowspan=4 align='center' valign=top>
          <font face='Liberation Sans Narrow' size=3>Doses Missed</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan=3 rowspan=4 align='center' valign=top>
          <font face='Liberation Sans Narrow' size=3>ART Regimen (write code)</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan=2 align='left' valign=top>
          <font face='Liberation Sans Narrow' size=3>ARVs Given</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan='5' align='left' valign='top '>
          <font face='Liberation Sans Narrow' size='3 '>CPT / TPT Tabs Given</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				rowspan='4 ' align='center' valign='top '>
          <font face='Times New Roman' color='#000000'>Months since last VL<br>
            Test</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000' rowspan=3 align='center'
				valign=top>
          <font face='Liberation Sans Narrow'>Sample taken</font>
        </td>
        <td style='border-top: 1px solid #000000; border-right: 1px solid #000000' rowspan=3 align='center'
				valign=top>
          <font face='Liberation Sans Narrow'>Result</font>
        </td>
        <td style='border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan=2 rowspan=4 align='center' valign=top>
          <font face='Liberation Sans Narrow' size=3>Next Appointment/ Outcome Date</font>
        </td>
        <td style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan=4 rowspan=4 align='center' valign=top>
          <font face='Liberation Sans Narrow' size=3>Adverse Outcome</font>
        </td>
      </tr>
      <tr>
        <td style='border-left: 1px solid #000000'   align='left' valign=bottom>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=bottom>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=bottom>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign=bottom>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign=bottom>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' colspan=2 align='center'
				valign=bottom>
          <font face='Times New Roman' size=3 color='#000000'>Breastfeed</font>
        </td>
        <td style='border-left: 1px solid #000000' align='left' valign=bottom>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign=bottom>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td class='t_no_break ' align='center' valign='top '
				style='border-left: 1px solid #000000; border-right: 1px solid #000000' rowspan='3 ' '>
          <div  >
            <span   >
              <font face=' Liberation Sans Narrow'>CTX 960</font>
            </span>
          </div>
        </td>
        <td class='t_no_break ' align='center' valign='top '
				style='border-left: 1px solid #000000; border-right: 1px solid #000000' rowspan='3 ' '>
          <div  >
            <span   >
              <font face=' Liberation Sans Narrow'>RFP/INH
              </font>
            </span>
          </div>
        </td>
        <td class='t_no_break ' align='center' valign='top '
				style='border-left: 1px solid #000000; border-right: 1px solid #000000' rowspan='3 ' '>
          <div  >
            <span   >
              <font face=' Liberation Sans Narrow'>INH 300
              </font>
            </span>
          </div>
        </td>
        <td class='t_no_break ' align='center' valign='top '
				style='border-left: 1px solid #000000; border-right: 1px solid #000000' rowspan='3 ' '>
          <div  >
            <span   >
              <font face=' Liberation Sans Narrow'>RFP 150
              </font>
            </span>
          </div>
        </td>
        <td class='t_no_break ' align='center' valign='top '
				style='border-left: 1px solid #000000; border-right: 1px solid #000000' rowspan='3 ' '>
          <div  >
            <span   >
              <font face=' Liberation Sans Narrow'>Pyridoxine
              </font>
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td style='border-left: 1px solid #000000'     '25' align='left' valign=bottom>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=bottom>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign=bottom>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign=bottom>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign=bottom>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' colspan=2 align='left'
				valign=bottom>
          <font face='Times New Roman' color='#000000'>Write Child</font>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' colspan=2 align='center'
				valign=  >
          <font face='Liberation Sans Narrow'>Suspected</font>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' colspan=2 align='center'
				valign=  >
          <font face='Liberation Sans Narrow'>Confirmed</font>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' colspan=2 rowspan=2
				align='center' valign=top>
          <font face='Times New Roman' color='#000000'>Specify in Notes</font>
        </td>
        <td style='border-left: 1px solid #000000' rowspan=2 align='center' valign=top>
          <font face='Liberation Sans Narrow' size=3>No. of tablets</font>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign=bottom>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
      </tr>
      <tr>
        <td style='border-left: 1px solid #000000'     '22' align='left' valign=top><i>
            <font face='Liberation Sans Narrow'>DD</font>
          </i></td>
        <td align='left' valign=top><i>
            <font face='Liberation Sans Narrow'>MM</font>
          </i></td>
        <td align='left' valign=top><i>
            <font face='Liberation Sans Narrow'>YY</font>
          </i></td>
        <td style='border-right: 1px solid #000000' align='center' valign=top><i>
            <font face='Liberation Sans Narrow'>Qtr</font>
          </i></td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' align='center' valign=top><i>
            <font face='Liberation Sans Narrow'>kg</font>
          </i></td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' colspan=2 align='left'
				valign=top><i>
            <font face='Liberation Sans Narrow'>HCC no if Bf</font>
          </i></td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' align='center' valign=top>
          <font face='Liberation Sans Narrow'>No</font>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' align='center' valign=top>
          <font face='Liberation Sans Narrow'>Yes</font>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' align='center' valign=bottom>
          <font face='Liberation Sans Narrow'>noRx</font>
        </td>
        <td style='border-left: 1px solid #000000; border-right: 1px solid #000000' align='center' valign=top>
          <font face='Times New Roman' color='#000000'>Rx</font>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign=top>
          <font face='Liberation Sans Narrow' size=3>To</font>
        </td>
      </tr>
      <% @data[:visits].each_with_index do |visit, i| %>
        <tr style='height:30px'>
          <td colspan="3" style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				    align='left' valign=  ><b>
              <font face='Arial'><br>
              </font>
            </b>
            <%= "#{visit[:date].to_date.strftime('%d-%m-%Y') rescue ''}"%>
          </td>
          <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000;'
				align='left' valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= "#{visit[:qtr]}"%>
          </td>
          <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000' colspan=1 align='left'
				valign=top>
            <font face='Times New Roman' color='#000000'></font>
            <%= "#{visit[:weight]}"%>
          </td>
          <td colspan="2" style='border-top: 2px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000' align='center' valign=  >
            <font face='Liberation Sans Narrow'></font>
            <%= "#{visit[:pregnant]}"%>
          </td>
          <td colspan="4" style=' border-right: 1px solid #000000; border-top: 2px solid #000000; border-bottom: 1px solid #000000' align='center' valign=  >
            <font face='Liberation Sans Narrow'></font>
            <%= "#{visit[:tb_status]}"%>
          </td>
          <td colspan="2" style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
			align='left' valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= visit[:side_effects].length> 0 ? "Y" : "N" %>
          </td>
          <td style='border-right: 1px solid #000000;border-top: 2px solid #000000; border-bottom: 1px solid #000000' colspan=1 align='center'
				valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= visit[:pills_brought].map {|p| p[1]}.inject(&:+).round rescue nil %>
          </td>
          <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000' colspan=1 align='center'
				valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= visit[:doses_missed] rescue nil %>
          </td>
          <td colspan="3" style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan=2 align='center' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= visit[:regimen] %>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
				align='right' valign=middle bgcolor='#F1F1F1'>
            <font face='Liberation Sans Narrow'></font>
            <%= visit[:arvs].map {|q| q[1]}.inject(&:+).round rescue "" %>
          </td>
          <td style='border-right: 1px solid #000000;border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
				align='right' valign=middle bgcolor='#F1F1F1'>
            <font face='Liberation Sans Narrow'></font>
            <%= visit[:batch_master_card_visit_by] %>
          </td>
          <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= visit[:cpt].map {|q| q[1]}.inject(&:+).round rescue "" %>
          </td>
          <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= visit[:inh_rfp].map {|q| q[1]}.inject(&:+).round rescue "" %>
          </td>
          <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= visit[:inh].map {|q| q[1]}.inject(&:+).round rescue "" %>
          </td>
          <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= visit[:rfp].map {|q| q[1]}.inject(&:+).round rescue "" %>
          </td>
          <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
				align='left' valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= visit[:pryidoxine].map {|q| q[1]}.inject(&:+).round rescue "" %>
          </td>
          <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
				align='left' valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= visit[:months_since_last_vl_test] %>
          </td>
          <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000'
				colspan=2 align='center' valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= visit[:viral_load] %>
          </td>
          <td class='t_no_break' style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000'
				colspan=2 align='center' valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= visit[:next_appointment].strftime("%d-%m-%Y") rescue '' %>
          </td>
          <td colspan="4" style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-right: 2px solid #000000'
				align='center' valign=  >
            <font face='Times New Roman' color='#000000'></font>
            <%= visit[:outcome] == 'On antiretrovirals' ? 'on ART' : visit[:outcome] %>
          </td>
        </tr>
      <% end %>
      <% (1..(12 - @data[:visits].length)).each do %>
            <tr style='height:40px; !important'>
          <td colspan="3" style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000;'
				    align='left' valign=  ><b>
              <font face='Arial'><br>
              </font>
            </b>
          </td>
          <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000' colspan=1 align='left'
				valign=top>
            <font face='Times New Roman' color='#000000'></font>
          </td>
          <td colspan="2" style='border-top: 2px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000' align='center' valign=  >
            <font face='Liberation Sans Narrow'></font>
          </td>
          <td colspan="4" style=' border-right: 1px solid #000000; border-top: 2px solid #000000; border-bottom: 1px solid #000000' align='center' valign=  >
            <font face='Liberation Sans Narrow'></font>
          </td>
          <td colspan="2" style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
			align='left' valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-right: 1px solid #000000;border-top: 2px solid #000000; border-bottom: 1px solid #000000' colspan=1 align='center'
				valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000' colspan=1 align='center'
				valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td colspan="3" style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan=2 align='center' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
				align='right' valign=middle bgcolor='#F1F1F1'>
            <font face='Liberation Sans Narrow'></font>
          </td>
          <td style='border-right: 1px solid #000000;border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
				align='right' valign=middle bgcolor='#F1F1F1'>
            <font face='Liberation Sans Narrow'></font>
          </td>
          <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
				align='left' valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
				align='left' valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000'
				colspan=2 align='center' valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000'
				colspan=2 align='center' valign=  >
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td colspan="4" style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-right: 2px solid #000000'
				align='center' valign=  >
            <font face='Times New Roman' color='#000000'></font>
          </td>
        </tr>
<% end %>
    </table>
  </body>
</html>
