<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.0 Transitional//EN'>
<html>
  <head><meta http-equiv='content-type' content='text/html; charset=utf-8'/>
    <title></title>
    <style type='text/css'>
       @media print {
.pagebreak {
page-break-before: always !important;
}
}

        table {
            width: 100%;
        }
        table {
            border-collapse: collapse;
        }
        td {
            padding-left: 0.3em;
            padding-right: 0.3em;
        }
        .t_no_break {
            white-space: nowrap !important;
        }
        @media print {
            .print-page {
                margin: 10px;
                page-break-inside: avoid;
            }
        }
    </style>
  </head>
  <body>
    <div class='print'>
      <table style='margin-bottom: 10px;' cellspacing='0' border='0'>
        <colgroup width='43'></colgroup>
        <colgroup width='65'></colgroup>
        <colgroup width='50'></colgroup>
        <colgroup width='62'></colgroup>
        <colgroup width='73'></colgroup>
        <colgroup width='78'></colgroup>
        <colgroup width='47'></colgroup>
        <colgroup width='53'></colgroup>
        <colgroup width='51'></colgroup>
        <colgroup width='46'></colgroup>
        <colgroup width='51'></colgroup>
        <colgroup width='49'></colgroup>
        <colgroup width='85'></colgroup>
        <colgroup width='110'></colgroup>
        <colgroup width='117'></colgroup>
        <colgroup span='2' width='118'></colgroup>
        <colgroup width='47'></colgroup>
        <colgroup width='68'></colgroup>
        <colgroup span='2' width='59'></colgroup>
        <colgroup width='55'></colgroup>
        <colgroup width='71'></colgroup>
        <colgroup span='2' width='79'></colgroup>
        <colgroup width='167'></colgroup>
        <colgroup span='4' width='59'></colgroup>
        <tr>
          <td colspan='10' align='left' valign='top '>
            <b>
              <i>
                <font face='Times New Roman'    color='#000000'>ART Patient Card Paediatric ARV Formulations</font>
              </i>
            </b>
          </td>
          <td colspan='2' align='left' valign='top '>
            <i>
              <font face='Times New Roman'    color='#000000'>Version 9</font>
            </i>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman'    color='#000000'><br>
            </font>
          </td>
          <td colspan='2' align='left' valign='top '>
            <font face='Times New Roman'    color='#000000'>Transfer-In Date</font>
          </td>
          <td
                    
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='2'
                        rowspan='2 '
                        align='center'
                        align='top '>
            <font face='Times New Roman'    color='#000000'><%= @data["transfer_in_date"] %><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman'    color='#000000'><br>
            </font>
          </td>
          <td
          colspan='3'
                        style='border-right: 1px solid #000000'
                        colspan='2 '
                        align='right'
                        valign='top '>
            <b>
              <font face='Times New Roman'    color='#000000'>ART Reg No</font>
            </b>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='5 '
                        rowspan='2 '
                        align='center'
                        align='top '>
            <font face='Times New Roman'    color='#000000'><%= @data["art_number"] %><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman'    color='#000000'><br>
            </font>
          </td>
          <td align='right' valign='top '>
            <font face='Times New Roman'    color='#000000'>Year</font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='4 '
                        rowspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman'    color='#000000'><br>
            </font>
            <%= @data["created_at"] ? @data["created_at"]
.strftime('%y') : '' %>
          </td>
        </tr>
        <tr style='margin-top:3em !important'>
          <td colspan='3' align='left' valign='top ' bgcolor='#00B0F0'>
            <font face='Times New Roman'    color='#000000'>Blue Card</font>
          </td>
          <td colspan='8' align='left' valign='top '>
            <font face='Times New Roman'    color='#000000'><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman'    color='#000000'><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman'    color='#000000'><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman'    color='#000000'><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman'    color='#000000'><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman'    color='#000000'><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman'    color='#000000'><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman'    color='#000000'><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman'    color='#000000'><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman'    color='#000000'><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman'    color='#000000'><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman'    color='#000000'><br>
            </font>
          </td>
        </tr>
      </table>
      <table style='margin-bottom: 10px;' cellspacing='0' border='0'>
        <tr>
          <td
                        colspan='13'
                        style='border-top: 2px solid #000000; border-left: 2px solid #000000'
                        align='left'
                        valign='top '>
            <b>
              <font face='Times New Roman'    color='#000000'>Patient / Guardian Details</font>
            </b>
          </td>
          <td
                        colspan='9'
                        style='border-top: 2px solid #000000; border-left: 2px solid #000000'
                        align='left'
                        valign='top '>
            <b>
              <font face='Times New Roman'    color='#000000'>Status at ART Initiation</font>
            </b>
          </td>
          <td
                        colspan='8'
                        style='border-top: 2px solid #000000; border-left: 2px solid #000000'
                        align='left'
                        valign='top '>
            <b>
              <font face='Times New Roman'    color='#000000'>Confirmatory HIV Test before ART Start</font>
            </b>
          </td>
        </tr>
        <tr>
          <td style='border-left: 2px solid #000000' align='left' valign='top '>
            <font face='Times New Roman' color='#000000'>Patient
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
                        colspan='11 '
                        rowspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= @data["patient_name"] %>
          </td>
          <td style='border-left: 2px solid #000000' align='left' valign='top '>
            <font face='Times New Roman' color='#000000'>HIV-related</font>
          </td>
          <td
                        style=' max-width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
                        colspan='8 '
                        rowspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= @data["hiv_related_diseases"] %>
          </td>
          <td
                        style='border-left: 2px solid #000000'
                        colspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'>Site, HTS</font>
          </td>
          <td
                        style='border-top: 2px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000'
                        colspan='6 '
                        rowspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
        </tr>
        <tr>
          <td style='border-left: 2px solid #000000' align='left' valign='top '>
            <font face='Times New Roman' color='#000000'>Name</font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-left: 2px solid #000000' align='left' valign='top '>
            <font face='Times New Roman' color='#000000'>diseases</font>
          </td>
          <td
                        style='border-left: 2px solid #000000'
                        colspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'>Serial No.</font>
          </td>
        </tr>
        <tr>
          <td style='border-left: 2px solid #000000' align='left' valign='top '>
            <font face='Times New Roman' color='#000000'>Sex, Birth</font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
                        colspan='2 '
                        rowspan='2 '
                        align='center'
                        valign='middle '>
            <font face='Times New Roman' color='#000000'>          <font face='Times New Roman' color='#000000'><%= @data["sex"] %></font>
            </font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000'
                        rowspan='2 '
                        align='center'
                        valign='middle '>
            <font face='Times New Roman' color='#000000'></font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000'
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'>DOB</font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 2px solid #000000'
                        colspan='7 '
                        rowspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= @data["birth_date"].to_date.strftime("%d-%m-%Y") rescue '' %>
          </td>
          <td
                        style='border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'>Urine LAM/</font>
          </td>
          <td
                        style='border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
                        colspan='8 '
                        rowspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= @data["lam"] %>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-left: 2px solid #000000'
                        colspan='2 '
                        rowspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'>Test Date</font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
                        colspan='2 '
                        rowspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= @data["lam_date"] %>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000'
                        colspan='2 '
                        rowspan='2 '
                        align='center'
                        valign='middle '>
            <font face='Times New Roman' color='#000000'><%= @data["confimatory_test_type
"] %>
            </font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-right: 2px solid #000000'
                        colspan='2 '
                        rowspan='2align='
                        center' '='center'
                        ' '
                        valign='middle '>
            <font face='Times New Roman' color='#000000'></font>
          </td>
        </tr>
        <tr>
          <td style='border-left: 2px solid #000000' align='left' valign='top '>
            <font face='Times New Roman' color='#000000'>Date</font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= @data["confimatory_test_date
"] %>
          </td>
          <td
                        style='border-bottom: 1px solid #000000; border-left: 1px solid #000000'
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td
                        style='border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'>CrAg Result</font>
          </td>
        </tr>
        <tr>
          <td style='border-left: 2px solid #000000' align='left' valign='top '>
            <font face='Times New Roman' color='#000000'>Physical</font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td
                        style='
                        max-width: 100px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
                        colspan='11 '
                        rowspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= @data["physical_address"] %>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
                        rowspan='2 '
                        align='center'
                        valign='middle '>
            <font face='Times New Roman' color='#000000'>WHO Stage</font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
                        colspan='2 '
                        rowspan='2 '
                        align='center'
                        valign='middle '>
            <b>
              <font face='Times New Roman' color='#000000'>    <%= @data["who_stage"].gsub('WHO stage', '') rescue '' %>
              </font>
            </b>
          </td>
          <td
           class='t_no_break'
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='2 '
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'>TB Status at Initiation
            </font>
          </td>
          <td style='border-top: 1px solid #000000' align='left' valign='top '>
            <font face='Times New Roman' color='#000000'> <%= @data["tb_status"] %>
            </font>
          </td>
          <td
                        style='border-top: 1px solid #000000'
                        colspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'></font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 2px solid #000000'
                        rowspan='2 '
                        align='center'
                        valign='middle '>
            <font face='Times New Roman' color='#000000'></font>
          </td>
          <td
            class='t_no_break'
                        style='border-left: 2px solid #000000'
                        colspan='2 '
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'>ART educat. done</font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-left: 2px solid #000000'
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000'
                        rowspan='2 '
                        align='center'
                        valign='middle '>
            <font face='Times New Roman' color='#000000'></font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
                        colspan='4 '
                        rowspan='2 '
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'>Date</font>
          </td>
        </tr>
        <tr>
          <td style='border-left: 2px solid #000000' align='left' valign='top '>
            <font face='Times New Roman' color='#000000'>Address</font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='2 '
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'></font>
          </td>
          <td style='border-bottom: 1px solid #000000' align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><%= @data["tb_status"] %></font>
          </td>
          <td
                        style='border-bottom: 1px solid #000000'
                        colspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'></font>
          </td>
          <td
                        style='border-left: 2px solid #000000'
                        colspan='2 '
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'></font>
          </td>
          <td
                        style='border-bottom: 1px solid #000000; border-left: 2px solid #000000'
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
        </tr>
        <tr>
          <td
                        style='border-left: 2px solid #000000'
                        colspan='2 '
                        rowspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
                        colspan='11 '
                        rowspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
                        rowspan='2 '
                        align='left'
                        valign='middle '>
            <font face='Times New Roman' color='#000000'>CD4</font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
                        rowspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= @data["cd4"] %>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
                        rowspan='2 '
                        align='right'
                        valign='middle '>
            <font face='Times New Roman' color='#000000'>%</font>
          </td>
          <td
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='2 '
                        rowspan='2 '
                        align='left'
                        valign='middle '>
            <font face='Times New Roman' color='#000000'>KS</font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000'
                        colspan='2 '
                        rowspan='2align='
                        center' '='center'
                        ' '
                        valign='middle '>
            <font face='Times New Roman' color='#000000'><%= @data["ks"] %>
            </font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 2px solid #000000'
                        colspan='2 '
                        rowspan='2 '
                        align='center'
                        valign='middle '>
            <font face='Times New Roman' color='#000000'></font>
          </td>
          <td
                        style='border-left: 2px solid #000000'
                        colspan='2 '
                        rowspan='2 '
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'>TB treatm.</font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-left: 2px solid #000000'
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'></font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000'
                        rowspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000'
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'>Start Date</font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 2px solid #000000'
                        colspan='3 '
                        rowspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
        </tr>
        <tr>
          <td
                        style='border-bottom: 1px solid #000000; border-left: 2px solid #000000'
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'></font>
          </td>
          <td
                        style='border-bottom: 1px solid #000000; border-left: 1px solid #000000'
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'></font>
          </td>
        </tr>
        <tr>
          <td style='border-left: 2px solid #000000' align='left' valign='top '>
            <font face='Times New Roman' color='#000000'>Guardian
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
                        colspan='11 '
                        rowspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= @data["guardian_name"] %>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
                        rowspan='2 '
                        align='left'
                        valign='middle '>
            <font face='Times New Roman' color='#000000'>CD4 Date</font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
                        colspan='2 '
                        rowspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= @data["cd4_date"] %>
          </td>
          <td
            class='t_no_break'
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='2 '
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'>Ever taken ARVs</font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000'
                        colspan='2 '
                        rowspan='2align='
                        center' '='center'
                        ' '
                        valign='middle '>
            <font face='Times New Roman' color='#000000'></font>
            <%= @data["ever_taken_arvs"] %>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 2px solid #000000'
                        colspan='2 '
                        rowspan='2 '
                        align='center'
                        valign='middle '>
            <font face='Times New Roman' color='#000000'></font>
          </td>
          <td
                        style='border-left: 2px solid #000000'
                        colspan='2 '
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'>ART
            </font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-left: 2px solid #000000'
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'></font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000'
                        rowspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000'
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'>Start date</font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 2px solid #000000'
                        colspan='3 '
                        rowspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
        </tr>
        <tr>
          <td style='border-left: 2px solid #000000' align='left' valign='top '>
            <font face='Times New Roman' color='#000000'>Name</font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='2 '
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'></font>
          </td>
          <td
                        style='border-left: 2px solid #000000'
                        colspan='2 '
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'>Regimens</font>
          </td>
          <td
                        style='border-bottom: 1px solid #000000; border-left: 2px solid #000000'
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><%= @data[:visits][0][:regimen] %>
            </font>
          </td>
          <td
                        style='border-bottom: 1px solid #000000; border-left: 1px solid #000000'
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'> <%= @data[:visits][0][:date].strftime("%d-%m-%Y")
 %> </font>
          </td>
        </tr>
        <tr>
          <td
                        style='border-left: 2px solid #000000'
                        colspan='2 '
                        rowspan='2 '
                        align='left'
                        valign='middle '>
            <font face='Times New Roman' color='#000000'>Phone</font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000'
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'>Patient</font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='4 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= @data["patient_phone"] %>
          </td>
          <td style='border-top: 1px solid #000000' align='left' valign='top '>
            <font face='Times New Roman' color='#000000'>Guardian</font>
          </td>
          <td style='border-top: 1px solid #000000' align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-right: 2px solid #000000'
                        colspan='4 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= @data["guardian_phone"] %>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
                        rowspan='2 '
                        align='left'
                        valign='top '>
            <font face='Times New Roman' color='#000000'>Height/Wgt</font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
                        rowspan='2 '
                        align='right'
                        valign='middle '>
            <%= @data["height"] %>
            <font face='Times New Roman' color='#000000'>cm</font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
                        rowspan='2 '
                        align='right'
                        valign='middle '>
            <%= @data["weight"] %>
            <font face='Times New Roman' color='#000000'>kg</font>
          </td>
          <td
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='2 '
                        rowspan='2 '
                        align='left'
                        valign='middle '>
            <font face='Times New Roman' color='#000000'>Date last taken</font>
          </td>
          <td
                        style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
                        colspan='4 '
                        rowspan='2 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-left: 2px solid #000000' align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-left: 2px solid #000000' align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-right: 2px solid #000000' align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
        </tr>
        <tr>
          <td
                        style='border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='5 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td
                        style='border-bottom: 1px solid #000000; border-right: 2px solid #000000'
                        colspan='6 '
                        align='center'
                        valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-left: 2px solid #000000' align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-left: 2px solid #000000' align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-right: 2px solid #000000' align='left' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
        </tr>
        <tr>
          <td style='border-left: 2px solid #000000' align='left' valign='top '>
            <font face='Times New Roman' color='#000000'>Agrees to</font>
          </td>
          <td align='center' valign='top '>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td
                        style='border-bottom: 2px solid #000000; border-left: 1px solid #000000'
                        colspan='2 '
                        rowspan='2align='
                        center' '='center'
                        ' '
                        valign='middle '>
            <%= @data["agrees_to_fup"] %>
            <font face='Times New Roman' color='#000000'></font>
          </td>
          <td
                        style='border-bottom: 2px solid #000000'
                        rowspan='2 '
                        align='left'
                        valign='middle '>
            <font face='Times New Roman' color='#000000'></font>
          </td>
          <td
                        style='border-bottom: 2px solid #000000; border-right: 2px solid #000000'
                        colspan='8 '
                        rowspan='2align='
                        left' '='left'
                        ' '
                        valign='top '>
            <font face='Times New Roman' color='#000000'>Guardian Relation</font>
          </br>
          <%= @data["guardian_relation"] %>
        </td>
        <td
                        style='border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
                        rowspan='2 '
                        align='left'
                        valign='middle '>
          <font face='Times New Roman' color='#000000'>Age at Init.</font>
        </td>
        <td
                        style='border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000'
                        colspan='2 '
                        rowspan='2 '
                        align='center'
                        valign='middle '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
          <%= @data["age"] %>
        </td>
        <td
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='2 '
                        align='left'
                        valign='top '>
          <font face='Times New Roman' color='#000000'></font>
        </td>
        <td
                        style='border-top: 1px solid #000000; border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
                        colspan='4 '
                        rowspan='2 '
                        align='center'
                        valign='top '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-left: 2px solid #000000' align='left' valign='top '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign='top '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-left: 2px solid #000000' align='left' valign='top '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign='top '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign='top '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign='top '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign='top '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-right: 2px solid #000000' align='left' valign='top '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
      </tr>
      <tr>
        <td
                        style='border-bottom: 2px solid #000000; border-left: 2px solid #000000'
                        align='left'
                        valign='top '>
          <font face='Times New Roman' color='#000000'>U=FUP</font>
        </td>
        <td style='border-bottom: 2px solid #000000' align='left' valign='top '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td
                        style='border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='2 '
                        align='left'
                        valign='top '>
          <font face='Times New Roman' color='#000000'></font>
        </td>
        <td
                        style='border-bottom: 2px solid #000000; border-left: 2px solid #000000'
                        align='left'
                        valign='top '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-bottom: 2px solid #000000' align='left' valign='top '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td
                        style='border-bottom: 2px solid #000000; border-left: 2px solid #000000'
                        align='left'
                        valign='top '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-bottom: 2px solid #000000' align='left' valign='top '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-bottom: 2px solid #000000' align='left' valign='top '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-bottom: 2px solid #000000' align='left' valign='top '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-bottom: 2px solid #000000' align='left' valign='top '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td
                        style='border-bottom: 2px solid #000000; border-right: 2px solid #000000'
                        align='left'
                        valign='top '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
      </tr>
    </table>
    <table cellspacing='0' border='0'>
      <colgroup width='43'></colgroup>
      <colgroup width='65'></colgroup>
      <colgroup width='50'></colgroup>
      <colgroup width='62'></colgroup>
      <colgroup width='73'></colgroup>
      <colgroup width='78'></colgroup>
      <colgroup width='47'></colgroup>
      <colgroup width='53'></colgroup>
      <colgroup width='51'></colgroup>
      <colgroup width='46'></colgroup>
      <colgroup width='51'></colgroup>
      <colgroup width='49'></colgroup>
      <colgroup width='85'></colgroup>
      <colgroup width='110'></colgroup>
      <colgroup width='117'></colgroup>
      <colgroup span='2' width='118'></colgroup>
      <colgroup width='47'></colgroup>
      <colgroup width='68'></colgroup>
      <colgroup span='2' width='59'></colgroup>
      <colgroup width='55'></colgroup>
      <colgroup width='71'></colgroup>
      <colgroup span='2' width='79'></colgroup>
      <colgroup width='167'></colgroup>
      <colgroup span='4' width='59'></colgroup>
      <tr>
        <td
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='3 '
                        align='center'
                        valign='top '>
          <font face='Liberation Sans Narrow'   >Visit Date</font>
        </td>
        <td
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
                        align='center'
                        valign='top '>
          <font face='Liberation Sans Narrow'   >Age</font>
        </td>
        <td
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
                        align='center'
                        valign='top '>
          <font face='Liberation Sans Narrow'   >Height</font>
        </td>
        <td
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
                        align='center'
                        valign='top '>
          <font face='Liberation Sans Narrow'   >Weight</font>
        </td>
        <td
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='4 '
                        rowspan='2 '
                        align='left'
                        valign='top '>
          <font face='Liberation Sans Narrow'>TB Status (Current)*</font>
        </td>
        <td
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='2 '
                        rowspan='2 '
                        align='left'
                        valign='top '>
          <font face='Liberation Sans Narrow'>Side Effects</font>
        </td>
        <td
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
                        rowspan='4 '
                        align='center'
                        valign='top '>
          <font face='Liberation Sans Narrow'>Pill Count</font>
        </td>
        <td
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
                        rowspan='4 '
                        align='center'
                        valign='top '>
          <font face='Liberation Sans Narrow'   >Doses Missed</font>
        </td>
        <td
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='2 '
                        rowspan='4 '
                        align='center'
                        valign='top '>
          <font face='Times New Roman'    color='#000000'>ART Regimen</font>
        </td>
        <td
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='2 '
                        align='left'
                        valign='top '>
          <font face='Liberation Sans Narrow'   >ARVs Given</font>
        </td>
        <td
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='4 '
                        align='left'
                        valign='top '>
          <font face='Liberation Sans Narrow'   >CPT / TPT Tabs Given</font>
        </td>
        <td
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
                        rowspan='4 '
                        align='center'
                        valign='top '>
          <font face='Times New Roman' color='#000000'>Months since last VL<br>
            Test</font>
        </td>
        <td
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='2 '
                        align='left'
                        valign='top '>
          <font face='Liberation Sans Narrow'   >Viral Load</font>
        </td>
        <td
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
                        rowspan='4 '
                        align='left'
                        valign='top '>
          <font face='Liberation Sans Narrow'>Next Appointment/ Outcome Date</font>
        </td>
        <td
                        style='border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000'
                        colspan='4'
                        rowspan='4'
                        align='center'
                        valign='top '>
          <font face='Liberation Sans Narrow'   >Adverse Outcome</font>
        </td>
      </tr>
      <tr>
        <td style='border-left: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        align='left'
                        valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        align='left'
                        valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        align='left'
                        valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-left: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td
                        class='t_no_break '
                        align='center'
                        valign='top '
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        rowspan='3 '
                        '>
          <div class='   '>
            <span class='   '>
              <font face='Liberation Sans Narrow'>CTX 120</font>
            </span>
          </div>
        </td>
        <td
                        class='t_no_break '
                        rowspan='3 '
                        align='center'
                        valign='top '
                        style='border-right: 1px solid #000000'>
          <div class='   '>
            <span class='   '>
              <font face='Liberation Sans Narrow'>INH 100</font>
            </span>
          </div>
        </td>
        <td
                        class='t_no_break '
                        rowspan='3 '
                        align='center'
                        valign='top '
                        style='border-right: 1px solid #000000'>
          <div class='   '>
            <span class='   '>
              <font face='Liberation Sans Narrow'>RFP 150</font>
            </span>
          </div>
        </td>
        <td
                        style='border-right: 1px solid #000000'
                        rowspan='3 '
                        align='center'
                        valign='top '>
          <div class='   '>
            <span class='   '>
              <font face='Liberation Sans Narrow'>Pyridoxine</font>
            </span>
          </div>
        </td>
        <td style='border-left: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
      </tr>
      <tr>
        <td style='border-left: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        align='left'
                        valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        align='left'
                        valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        align='left'
                        valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='2 '
                        align='left'
                        valign='top '>
          <font face='Liberation Sans Narrow'>Suspected</font>
        </td>
        <td
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='2 '
                        align='left'
                        valign='top '>
          <font face='Liberation Sans Narrow'>Confirmed</font>
        </td>
        <td
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        colspan='2 '
                        rowspan='2align='
                        center' '='center'
                        ' '
                        valign='top '>
          <font face='Times New Roman' color='#000000'>Specify in Notes</font>
        </td>
        <td style='border-left: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
        <td
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        rowspan='2 '
                        align='center'
                        valign='bottom '>
          <font face='Liberation Sans Narrow'>Sample taken</font>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign='bottom '>
          <font face='Times New Roman' color='#000000'><br>
          </font>
        </td>
      </tr>
      <tr>
        <td style='border-left: 1px solid #000000' align='left' valign='top '>
          <i>
            <font face='Liberation Sans Narrow'>day</font>
          </i>
        </td>
        <td align='left' valign='top '>
          <i>
            <font face='Liberation Sans Narrow'>month</font>
          </i>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign='top '>
          <i>
            <font face='Liberation Sans Narrow'>year</font>
          </i>
        </td>
        <td
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        align='center'
                        valign='top '>
          <i>
            <font face='Liberation Sans Narrow'>(Curr.)</font>
          </i>
        </td>
        <td
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        align='center'
                        valign='top '>
          <i>
            <font face='Liberation Sans Narrow'>cm</font>
          </i>
        </td>
        <td
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        align='center'
                        valign='top '>
          <i>
            <font face='Liberation Sans Narrow'>kg</font>
          </i>
        </td>
        <td
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        align='center'
                        valign='top '>
          <font face='Liberation Sans Narrow'>No</font>
        </td>
        <td
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        align='center'
                        valign='top '>
          <font face='Liberation Sans Narrow'>Yes</font>
        </td>
        <td
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        align='center'
                        valign='bottom '>
          <font face='Liberation Sans Narrow'>noRx</font>
        </td>
        <td
                        style='border-left: 1px solid #000000; border-right: 1px solid #000000'
                        align='center'
                        valign='top '>
          <font face='Times New Roman' color='#000000'>Rx</font>
        </td>
        <td style='border-left: 1px solid #000000' align='left' valign='top '>
          <font face='Liberation Sans Narrow'>No. of tablets</font>
        </td>
        <td style='border-right: 1px solid #000000' align='left' valign='top '>
          <font face='Liberation Sans Narrow'>To</font>
        </td>
        <td style='border-right: 1px solid #000000' align='center' valign='bottom '>
          <font face='Liberation Sans Narrow'>Result</font>
        </td>
      </tr>
      <% @data[:visits].each_with_index do |visit, i| %>
        <tr>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
				colspan=3 align='center' valign=middle bgcolor='#F1F1F1'>
            <font face='Arial'></font>
            <%= "#{visit[:date].strftime("%d-%m-%Y")}"%>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= visit[:age] %>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= visit[:height] %>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= visit[:weight] %>
          </td>
          <td colspan="4" align="center" style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
				align='right' valign=middle bgcolor='#F1F1F1'>
            <font face='Liberation Sans Narrow'><%= visit[:tb_status] %></font>
          </td>
          <td colspan="2" style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
				align='center' valign=middle bgcolor='#F1F1F1'>
            <font face='Liberation Sans Narrow'></font>
            <%= visit[:side_effects].length > 0 ? "Y" : "N" %>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
				align='center' valign=middle bgcolor='#F1F1F1'>
            <font face='Liberation Sans Narrow'></font>
            <%= visit[:pills_brought].map {|p| p[:quantity]}.inject(&:+).round rescue nil %>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
				align='center' valign=middle bgcolor='#F1F1F1'>
            <font face='Liberation Sans Narrow'></font>
            <%= visit[:doses_missed].map {|p| p[:quantity]}.inject(&:+).round rescue nil %>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan=2 align='center' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= visit[:regimen] %>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
				align='right' valign=middle bgcolor='#F1F1F1'>
            <font face='Liberation Sans Narrow'></font>
            <%= visit[:arvs].map {|q| q[1]}.inject(&:+).round rescue "" %>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
				align='right' valign=middle bgcolor='#F1F1F1'>
            <font face='Liberation Sans Narrow'></font>
            P
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= visit[:cpt].map {|q| q[1]}.inject(&:+).round rescue "" %>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= visit[:ihn].map {|q| q[1]}.inject(&:+).round rescue "" %>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= visit[:rfp].map {|q| q[1]}.inject(&:+).round rescue "" %>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= visit[:pryidoxine].map {|q| q[1]}.inject(&:+).round rescue "" %>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan=2 align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'></font>
            <%= visit[:viral_load] %>
          </td>
          <td class='t_no_break' style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
            <%= visit[:next_appointment].to_date.strftime("%d-%m-%Y") rescue '' %>
          </td>
          <td class='t_no_break' colspan="5" style='border-top: 1px solid #000000; border-right: 2px solid #000000;
 border-bottom: 1px solid #000000; border-left: 1px solid #000000'
				align='right' valign=middle bgcolor='#F1F1F1'>
            <font face='Liberation Sans Narrow'></font>
            <%= visit[:outcome] == 'On antiretrovirals' ? 'on ART' : visit[:outcome] %>
          </td>
        </tr>
        <% end %>
        <% (1..6).each do %>
           <tr>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000'
				colspan=3 align='center' valign=middle bgcolor='#F1F1F1'>
            <font face='Arial'></font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td colspan="4" align="center" style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
				align='right' valign=middle bgcolor='#F1F1F1'>
          </td>
          <td colspan="2" style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
				align='center' valign=middle bgcolor='#F1F1F1'>
            <font face='Liberation Sans Narrow'></font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
				align='center' valign=middle bgcolor='#F1F1F1'>
            <font face='Liberation Sans Narrow'></font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
				align='center' valign=middle bgcolor='#F1F1F1'>
            <font face='Liberation Sans Narrow'></font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan=2 align='center' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
				align='right' valign=middle bgcolor='#F1F1F1'>
            <font face='Liberation Sans Narrow'></font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000'
				align='right' valign=middle bgcolor='#F1F1F1'>
            <font face='Liberation Sans Narrow'></font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				colspan=2 align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'></font>
          </td>
          <td style='border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000'
				align='left' valign=middle bgcolor='#F1F1F1'>
            <font face='Times New Roman' color='#000000'><br>
            </font>
          </td>
          <td colspan="5" style='border-top: 1px solid #000000; border-right: 2px solid #000000;
 border-bottom: 1px solid #000000; border-left: 1px solid #000000'
				align='right' valign=middle bgcolor='#F1F1F1'>
            <font face='Liberation Sans Narrow'></font>
          </td>
        </tr>
        <% end %>
      </table>
</div>
</body>
</html>
